///////////////////////////////////////////////////////////////////////////////////
// CPT Template styles
///////////////////////////////////////////////////////////////////////////////////



///////////////////////////////////////////////////////////////////////////////////
// TEAM - Single Template styles
///////////////////////////////////////////////////////////////////////////////////
/* education */
.team-edu {
    .logo-wrap {
        max-width: 150px;
        img {
            margin: 0 auto;
        }
    }
}

/* Honors */
.team-hon {
    .logo-wrap {
        max-width: 150px;
        img {
            margin: 0 auto;
        }
    }
}






///////////////////////////////////////////////////////////////////////////////////
// CARDS - CPT card styles
///////////////////////////////////////////////////////////////////////////////////


.award-card {
    img { 
        margin: 0 auto;
    }
}

// testimonial cards
.test-wrap {
    &.bg-white {
        border: solid 1px $black;
    }
}