///////////////////////////////////////////////////////////////////////////////////
// Flex Content Styles
///////////////////////////////////////////////////////////////////////////////////

// btns block gap/spacing
.super-btns { gap: 1rem }

// img + Vid alignment
.super-img,
.super-vid {
    &.text-center .media-outer { margin: 0 auto;}
    &.text-end .media-outer{ margin: 0 0 0 auto }
}
.super-quote i { font-size: 3rem; }


///////////////////////////////////////////////////////////////////////////////////
// Spacer Block
///////////////////////////////////////////////////////////////////////////////////
.flex-spacer {
    .no-vis {
        color: transparent;
    }
}



///////////////////////////////////////////////////////////////////////////////////
// Cases Block
///////////////////////////////////////////////////////////////////////////////////
.flex-cases {
    .inner {
        padding-left: 2rem;
        padding-right: 2rem;
        @media screen and (min-width: $d_md) {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
}




///////////////////////////////////////////////////////////////////////////////////
// Form Block  -- For form styles see _forms.scss
///////////////////////////////////////////////////////////////////////////////////
.flex-form {
    .inner {
        padding-left: 2rem;
        padding-right: 2rem;
        @media screen and (min-width: $d_md) {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
}