///////////////////////////////////////////////////////////////////////////////////
// Heros
///////////////////////////////////////////////////////////////////////////////////
.hero.bg-img {
    color: $white;
    position: relative;
    .overlay {
        background: $black;
        opacity: 0.25;
        z-index: 0;
    }
    header {
        position: relative;
        z-index: 1;
    }
}