// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


///////////////////////////////////////////////////////////////////////////////////
// DISPLAY SIZES //////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
$d_xs: 0;
$d_sm: 576px;
$d_md: 768px;
$d_lg: 992px;
$d_xl: 1200px;
$d_xxl: 1500px;

///////////////////////////////////////////////////////////////////////////////////
// Media Queries //////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
$mq-sm: "(min-width: #{$d_sm})";
$mq-md: "(min-width: #{$d_md})";
$mq-lg: "(min-width: #{$d_lg})";
$mq-xl: "(min-width: #{$d_xl})";
$mq-xxl: "(min-width: #{$d_xxl})";


///////////////////////////////////////////////
// Fonts //////////////////////////////////////
///////////////////////////////////////////////
// Load Self-hosted Font
@font-face {
	font-family: 'Juana';
	src: url('../fonts/juana/JuanaSemiBold.woff2') format('woff2'),
		 url('../fonts/juana/JuanaSemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

$f1: 'Plus Jakarta Sans', sans-serif;
$f2: 'Juana', serif;

@mixin f1_light() {
	font-family: $f1;
	font-weight: 400;
}
@mixin f1_reg() {
	font-family: $f1;
	font-weight: 400;
}
@mixin f1_med() {
	font-family: $f1;
	font-weight: 500;
}
@mixin f1_bold() {
	font-family: $f1;
	font-weight: 700;
}

@mixin f2_reg() {
	font-family: $f2;
	font-weight: 600;
}



///////////////////////////////////////////////
// Colors //////////////////////////////////////
///////////////////////////////////////////////
$white: #fff;
$light: #e2e2e2;
$ltgray: #C6C6C6;
$ltgrey: $ltgray;  /* just in case I forgot how I spell Graey */
$gray: #707070;
$grey : $gray;     /* just in case I forgot how I spell Graey */
$dark: #0F334E;
$black: #1F1F1F;

// pastels
$pastel_y: #FFF7EB; 
$pastel_b: #EBF8FE; 
$pastel_p: #FCEFF5; 

// yellows
$yellow_l: #F6DEA4;
$yellow:   #FFC200;
$yellow_d: #F4B400;

// blues
$blue_l: #AEDDF1;
$blue:   #259DDD;
$blue2:  #38A6E0;
$blue_d: #338AB8;

// pinks
$pink_l: #F1C1DA;
$pink:   #E869A4;
$pink_d: #D2669A;



// main accent vars
$jem1: $blue;
$jem1d: darken( $jem1, 20%);
$jem2: $pink;

// set Bootstrap primary color
$primary: $jem1;


